/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 50;
  padding: 25;
  font-weight: lighter;
  max-width: 900px;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
.hero-img h1 {
  background-image: url("../images/apple-pie.jpg");
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  background-position: center;
  align-items: center;
  font-size: 5rem;
  color: white;
  text-shadow: black;
  text-shadow: 1cm;
}

hr.solid {
  border-top: 1px solid grey;
}

.recipe-tips img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

.cooking-tips img{
  display: block;
  margin: 0 auto;
  width: 40%;
  height: auto;
}

.intro {
text-align: justify;
margin: 0 30px;
}
